body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

main{
  top: 0;
  background-image: url(../media/background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30em;
  height: 600px;
  padding-top: 8%;
}


nav{
  position: static;
  background-color: #666;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  -webkit-font-smoothing: antialiased;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  border-radius: 4px;
  line-height: 60px;
}

nav > ul {
  list-style: none;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  line-height: 50px;
}

.nav-li {
  margin-left: 0;
  width: 10%;
  text-align: center;
  border-left: solid black 1px;
  display: inline-block;
  font-size: 14px;
  color: white;
  height: 50px;
}

.apple-logo-li{
  font-size: 26px;
}

.search-li{
  display: inline-block;
  position: relative;

}

.search-input{
  width: 95%;
  margin: auto;
  background-color: #666;
  border-radius: 30%;
}

.text-photos-container {
  margin-top: 0;
  width: 60%;
  margin: auto;
  text-align: center;
}

.title-img{
  width: 90%;
  display: block;
  margin: auto;
}

.text-image-2 {
 width: 100%;
}

.text-image-3 {
  width: 60%;
  margin: auto;
}

.nav-li:hover{
  background-color: #333;
}

.search-icon {
  position: absolute;
  top: 30%;
  left: 30%;
  border-left: none;
  color: white;
}

.grid-images{
  display: grid;
  border: solid 1px white;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 0.1em;
}
.grid-row-images>img{
  width:100%;
}
.list{
  display:flex;

  justify-content: space-between ;
  width:100%;
}
.list-para{
  text-align:center;
  padding-left: 3em;
}
.links{
  padding-right:4em;
  align-items: center;
}
.footer-links{
  padding-left:2px;

}
.footer-links >li{
  list-style: none;
  display: inline-block;
}
.li-image{
margin-top:2px;
}
.footer-links > li img{
  width:15px;
}
.last-para{
  margin-left:1em;
  top:0;
}
