body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

main{
  top: 0;
  background-image: url(../media/background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30em;
  height: 600px;
  padding-top: 8%;
}


nav{
  position: static;
  background-color: #666;
  display: block;
  width: 80%;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  border-radius: 4px;
}

nav > ul {
  list-style: none;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  text-align: center;

}

.nav-ul{
  align-items: center;
  margin-block-end: 20em;
  vertical-align: middle;
  line-height: 35px;
}

.nav-li {
  width: 10%;
  text-align: center;
  border-left: solid black 1px;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  color: white;
  height: 36px;

}

.nav-li:hover{
  background-color: #333;
}

.search-icon {
  border-left: none;
  color: white;
  display: inline-block;
}
